{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="p-2">
                    <h4>Shopping cart</h4>
                </div>

                {% for entry in entries %}
                    <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                        <div class="mr-1 col-2">
                            <img class="rounded" src="{{ entry.product.image.url }}" width="70" alt="">
                        </div>
                        <div class="d-flex flex-column align-items-center product-details col-4">
                            <span class="font-weight-bold">{{ entry.product.name }}</span>
                            <div class="d-flex flex-row product-desc">
                                <div class="color">
                                <span class="font-weight-bold">
                                    {{ entry.product.description|truncatechars:50 }}
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center qty col-2">
                            <button value="{{ entry.product.id }}"
                                    class="black-white-icons remove-one">
                                <i class="fa fa-minus col-3"></i>
                            </button>

                            <h5 class="text-center text-grey mt-1 mr-1 ml-1 col-6">
                                {{ entry.quantity }}
                            </h5>
                            <button value="{{ entry.product.id }}"
                                    class="black-white-icons add-one">
                                <i class="fa fa-plus col-3"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <h5 class="text-grey">{{ entry.total }}</h5>
                        </div>
                        <div class="d-flex align-items-center col-1">
                            <button value="{{ entry.product.id }}"
                                    class="add-to-cart delete-full">
                                <i class="fa fa-trash mb-1"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}

                <div class="d-flex flex-row justify-content-center align-items-center mt-3 p-2 bg-white rounded" id="totalSum">
                    <h5 class="text-grey">{{ cart.total }}</h5>
                </div>
                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
                    <button class="w-100 btn btn-warning btn-block btn-lg ml-2 pay-button" type="button">
                        Pay
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block javascripts %}
    <script>
        let totalElement = document.querySelector("#totalSum").firstElementChild;

        $("button.remove-one").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'remove_from_cart' %}",
                data: {
                    id: $(this).val(), // < note use of 'this' here
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (result) {
                    let textElement = e.currentTarget.parentElement.children[1];
                    let previousValue = parseInt(textElement.innerText);
                    textElement.innerText = previousValue - 1;

                    let valueElement = e.currentTarget.parentElement.parentElement.children[3].firstElementChild;
                    valueElement.innerText = result["new_product_total"];
                    totalElement.innerText = result["new_total"];
                },
                error: function (result) {
                }
            });
        });
        $("button.add-one").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'add_to_cart' %}",
                data: {
                    id: $(this).val(), // < note use of 'this' here
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (result) {
                    let textElement = e.currentTarget.parentElement.children[1];
                    let previousValue = parseInt(textElement.innerText);
                    textElement.innerText = previousValue + 1;

                    let valueElement = e.currentTarget.parentElement.parentElement.children[3].firstElementChild;
                    valueElement.innerText = result["new_product_total"];
                    totalElement.innerText = result["new_total"];
                },
                error: function (result) {
                }
            });
        });
        $("button.delete-full").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'delete_from_cart' %}",
                data: {
                    id: $(this).val(), // < note use of 'this' here
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (result) {
                    let removedCartElement = e.currentTarget.parentElement.parentElement;
                    removedCartElement.remove();

                    totalElement.innerText = result["new_total"];
                },
                error: function (result) {
                }
            });
        });
    </script>
{% endblock javascripts %}