{% extends 'base.html' %}
{% load static %}

{% block title %}New Discount{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock stylesheets %}

{% block content %}
    <div class="d-flex flex-row justify-content-center align-items-center border-0 card">
        <form method="POST" enctype="multipart/form-data" class="box col-6 mt-3">
            {% csrf_token %}
            {{ form.errors }}
            <p class="text-muted"> Please fill data below</p>
            <label for="id_name"> Value: </label>
            {{ form.value }}

            <label for="search" class="d-none"></label>
            <label for="id_product" class="mt-2"> Search Product: </label>
            <input id="search" type="text" name="search" placeholder="Filter product" class="form-control mb-1"/>
            {{ form.product }}

            <label for="id_url" class="mt-2"> Or insert link: </label>
            {{ form.url }}

            <button class="btn btn-success btn-lg mt-3" type="submit">Create</button>
        </form>
    </div>
{% endblock content %}

{% block javascripts %}
    <script>
        let productSelect = document.querySelector("#id_product");
        $("#search").change(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "{% url 'search_products' %}",
                data: {
                    search: $(this).val(), // < note use of 'this' here
                },
                success: function (result) {
                    $(`#${productSelect.id}`).empty().append($('<option>', {
                        value: null,
                        text: '---------'
                    }));
                    $.each(result.products, function (i, item) {
                        $(`#${productSelect.id}`).append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                },
                error: function (result) {
                }
            });
        });
    </script>
{% endblock javascripts %}